:root {
    --orange:#E76F51;
    --white: #fff;
    --grey: #D2D2D2;
    --dark: #3B3735;
    --light-grey: rgba(141,141,141,0.1);
    --dark-grey: #8D8D8D;
    --light-pink: #FAF4F2;
    --primary-font: "Roboto", Arial, Helvetica, sans-serif;
    --primary-font-md: "Roboto Medium", Arial, Helvetica, sans-serif;
    --secondary-font: "Archivo Black", Arial, Helvetica, sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    font-family: var(--primary-font);
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: var(--light-pink);

}


/* 

 -- Components --

*/
.btn {
    width: 18rem;
    height: 4rem;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 10rem;
    font-family: var(--primary-font-md);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
/* 

 -- Reset Style --

*/

a {
    text-decoration: none;
}

/* 
================
    Header
================
*/

.header {
    background: linear-gradient(rgba(59,55,53,0.5),rgba(59,55,53,0.5)), url('../images/header-bg.jpg');
    background-size: cover;
    background-position:center;
    min-height: 85vh;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;

}

/* 
================
    Nav
================
*/

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0 0 0;

}

/* 
================
    App Menu
================
*/
.app-logo{
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 4rem;

}
.app-logo__img{
    width: 100%;
    height: 100%;
}
.nav__wrapper {
    display: flex;
    align-items: center;
}

/* 

========================
    Main Menu (Desktop)
========================

*/
.menu{
    display: none;

}
.menu__item{
    margin-right: 1.5rem;
}
.menu__link{
    color: var(--grey);
    transition: color 100ms ease-in;
}
.menu__link:hover {
    color: var(--white);
}

.menu__link--active{
    color: var(--white);
    z-index: 1;
    position: relative;
}
.menu__link--active::before {
    display: block;
    content: ' ';
    position: absolute;
    width: 4rem;
    height: 0.3rem;
    border-radius: 10rem;
    background-color: var(--orange);
    right: 0;
    left: 0;
    top: 0.7rem;
    transform: rotate(45deg);
    z-index: -1;
    margin: 0 auto;
}

/* 

==================
    Header Links
==================

*/
.nav__links{
    display: none;
}
.nav__link{
    margin-left: 1.5rem;
    color: var(--white);
    font-family: var(--primary-font-md);
}
.nav__link--border{
    border: 1px solid var(--white);
    border-radius: 10rem;
    padding: 1rem 2.5rem;
    transition: all 100ms ease-in;
}
.nav__link--border:hover {
    background-color: var(--white);
    color: var(--dark);
}

/* 

==================
    Nav Menu
==================

*/
.nav-menu{
    position: fixed;
    background-color: var(--dark);
    padding: 2.5rem;
    top: 0;
    left: -25rem;
    bottom: 0;
    width: 25rem;
    transition: all 250ms ease-in-out;
    z-index: 2;
}

.nav-menu--open {
    left: 0;
}
.nav-menu__title {
    color: var(--white);
    font-size: 2rem;
    font-family: var(--secondary-font);
    border-bottom: 1px solid var(--white);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
/* 

==================
    Mobile Menu
==================

*/
.mobile-menu{
    margin-bottom: 3rem;

}
.mobile-menu__item{
    margin-bottom: 1rem;

}
.mobile-menu__link{
    color: var(--white);
    font-size: 1.8rem;
    position: relative;
    transition: all 250ms ease-in-out;
}

.mobile-menu__link::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0.3rem;
    border-radius: 10rem;
    background-color: var(--orange);
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all 250ms ease-in-out;
}
.mobile-menu__link:hover {
    padding-left: 2.2rem;
}
.mobile-menu__link:hover::before{
    width: 1.6rem;
}
.nav-menu__links{
    display: flex;

}
.nav-menu__link{
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--white);
    flex-grow: 1;
    border: 1px solid var(--white);
    transition: all 100ms ease-in;

}
.nav-menu__link:hover {
    color: var(--dark);
    background-color: var(--white);
}
.nav-menu__link--border{
}

/* 

==================
    Nav Btn
==================

*/
.nav__btn{
    background-color: #fff;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav__btn-line{
    display: block;
    width: 3rem;
    height: 0.3rem;
    background-color: var(--orange);
    border-radius: 5rem;
    position: relative;
    transition: all 100ms ease-in-out;
}

.nav__btn-line::before,
.nav__btn-line::after {
    display: inline;
    content: " ";
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    background-color: var(--orange);
    border-radius: 5rem;
    transition: all 100ms ease-in-out;
}

.nav__btn-line::before {
    top: -0.8rem;
}

.nav__btn-line::after {
    top: 0.8rem;
}

.nav__btn--open .nav__btn-line {
    background-color: transparent;
}
.nav__btn--open .nav__btn-line::before{
    width: 4rem;
    transform: rotate(45deg) translateY(9px) translateX(2px);
}
.nav__btn--open .nav__btn-line::after{
    width: 4rem;
    transform: rotate(-45deg) translateY(-9px) translateX(2px);
}

.header-content{
    text-align: center;
    color: var(--white);
    margin-top: 6rem;
}
.header-content__title{
    font-family: var(--secondary-font);
    font-size: 4.5rem;
    line-height: 1.2;
    max-width: 35rem;
    margin: 0 auto 3rem auto;
}
.header-content__caption{
    max-width: 34rem;
    margin: 0 auto 2rem auto;

}
.header-content__link{
    background-color: var(--orange);
    font-size: 1.8rem;
}

/* 

======================
    Services
======================

*/
.main {
    padding: 4rem 0;
}

.services {
    text-align: center;
    color: var(--dark);
    margin-top: -15rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -1rem;
    margin-right: -1rem;
}

.service {
    background-color: var(--white);
    border-radius: 2rem;
    height: 26rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 2rem;
    flex-grow: 1;
    margin: 1rem;
}

.service__img {
    display: block;
}

.service__title {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    margin: 1.5rem 0 0.6rem 0;
}

.service__caption {

}

/* 

======================
  Destinations
======================

*/

.destinations{
    padding: 6rem 0;
    text-align: center;
    margin-right: -1rem;
    margin-left: -1rem;
}
.destinations__title{
    font-size: 3rem;
    font-family: var(--secondary-font);
    max-width: 36rem;
    margin: 3rem auto;
}
.destination__logo{
    width: 8rem;
    height: 8rem;
}
.destinations__places{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}





.place{
    text-align: center;
    border-radius: 2rem;
    background-color: var(--white);
    padding: 2rem;
    width: 30rem;
    color: var(--dark);
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    flex-grow: 1;
    overflow: hidden;
}
.place__banner{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    height: 18rem;
}
.place__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.place__like{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 1.5rem;
    right: 1.5rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    cursor: pointer;
}
.place__like-icon{
    margin-top: -0.3rem;
}
.place__like-icon--fill {
    fill: var(--orange);
}
.place__price{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.8rem;
    background-color: var(--white);
    margin: 0 auto;
    padding: 0.5rem 2rem;
    width: 12rem;
    border-radius: 1rem;
}
.place__price-text{
    color: var(--orange);
    font-family: var(--primary-font-md);
    text-align: center;
}
.place__title{
    font-family: var(--secondary-font);
    margin-top: 3rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;


}
.place__caption{
    margin-bottom: 3rem;
}
.place__link{
    color: var(--dark-grey);
    background-color: var(--light-grey);
}









.destinations__link {
    color: var(--orange);
    border: 1px solid var(--orange);
    background-color: transparent;
    transition: all 100ms ease-in;
    margin-top: 3rem;
}
.destinations__link:hover {
    background-color: var(--orange);
    color: var(--light-pink);
}