@media (max-width: 380px){
    
    .header-content__title{
        font-size: 4rem;
    }
    .destinations__title{
        font-size: 2.4rem;
    }
    .newsletter__title {
        max-width: 16rem;
    }
}

@media (min-width: 576px){
    .container {
        width: 54rem;
    }
}

@media (min-width: 768px){
    .container {
        width: 72rem;
    }
    .nav__btn {
        display: none;
    }
    .menu {
        display: flex;
    }
    .nav-menu{
        display: none;
    }
    .newsletter {
        flex-direction: row;
    }
    .newsletter__content{
        flex-basis: 60%;
        padding-right: 2rem;
        text-align: left;
    }
    .newsletter__banner{
        flex-basis: 40%;
    }
    .newsletter::before{
        display: block;
        background-size: cover;
        top: -15rem;
        left: -5rem;
        bottom: 0;
    }
    .destinations::before{
        width: 80rem;
        height: 80rem;
        background-size: cover;
        right: -50rem;
        top: -15rem;
    }
    .destinations::after{
        width: 80rem;
        height: 80rem;
        background-size: cover;
        bottom: 30rem;
    }
    .footer{
        text-align: left;
    }
    .footer-list{
        width: 16rem;
    }
}

@media (min-width:992px) {
    .container {
        width: 92rem;
    }
    .header__links {
        display: block;
    }
    .header-content__caption{
        max-width: 50rem;
    }
    .newsletter__content{
        padding-right: 4rem;
    }
    .newsletter__title{
        margin-bottom: 0;
    }
    .footer__container{
        display: flex;
        justify-content:space-between;
    }
    .footer__content-wrapper{
        max-width: 35rem;
    }
    .footer__scroll{
        left: auto;
        margin: auto;
    }
    .newsletter::before{
        top: -25rem;
        left: -25rem;
        width: 80rem;
        height: 80rem;
    }
}

@media (min-width:1200px) {
    .container {
        width: 114rem;
    }
    .newsletter {
        justify-content: space-between;
    }
    .newsletter__content{
        flex-basis: auto;
        width: 60rem;
    }
    .newsletter__banner{
        flex-basis: auto;
    }
    .footer__content-wrapper{
        max-width: 60rem;
    }
    .newsletter::before{
        top: -25rem;
        left: -10rem;
    }
}

@media (min-width:1400px) {
    .container {
        width: 137rem;
    }
    .newsletter {
        padding: 3rem 6rem;
    }
    .footer__container{
        justify-content: space-between;
    }
    .footer-list{
        width: 20rem;
    }
}